@import './variables.css';

:root {
  background-color: #ffffff;
}

body,
#app {
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
}

.container {
  max-width: 1186px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a:focus,
button:focus {
  outline: 1px solid var(--primary-main);
}

.round {
  border-radius: 9999px;
}
