@import './variables.css';

:root {
  background-color: #ffffff;
}

body,
#app {
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  color: var(--fc-primary);
}

.container {
  max-width: 1186px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

a:focus,
button:focus {
  outline: var(--outline);
}

.round {
  border-radius: 9999px;
}

.font-primary {
  color: var(--fc-primary);
}

.font-secondary {
  color: var(--fc-secondary);
}
