:root {
  --primary-main: #605dec;
  --primary-dark: #344293;
  --secondary-main: #f9f9fb;

  --red: #c72549;

  --button-size: 44px;
  --icon-size: 18px;

  --fc-primary: #1a1a1a;
  --fc-secondary: #808080;

  --grey-light: #e4e4ef;

  --table-border: 1px solid var(--grey-light);
}
